<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    table {
      border-collapse: collapse;
    }

    table th,
    table td {
      border: 1px solid #000;
    }
  </style>
</head>

<body>
  {{.name}}
  {{.userList}}
  <form method="post" action="/posttest">
    用户名：
    <input type="text" value="" name="username">
    密码：
    <input type="text" value="" name="pwd">
    <input type="submit" value="post">

  </form>


  <button onclick="deluser()">删除</button>

  <form action="/addArticle" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="提交上传">
  </form>



  <div>
    aname<input type="text" name="aname" class="aname"><br />
    atime<input type="text" name="atime" class="atime"><br />
    acount<input type="text" name="acount" class="acount"><br />
    acontent<input type="text" name="acontent" class="acontent"><br />
    aimg<input type="text" name="aimg" class="aimg"><br />
    <button onclick="addArt()">新增article</button>
  </div>

  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>aname</th>
        <th>atime</th>
        <th>acount</th>
        <th>acontent</th>
        <th>aimg</th>
      </tr>
    </thead>

    <tbody id="tbody">
      <!-- {{range .atrList}}
      <tr>
        <td>{{.Id}}</td>
        <td>{{.Aname}}</td>
        <td>{{.Atime}}</td>
        <td>{{.Acount}}</td>
        <td>{{.Acontent}}</td>
        <td>{{.Aimg}}</td>
      </tr>
      {{end}} -->

      
    </tbody>

  </table>

  <script>
    console.log(999);

    const deluser = () => {
      submitDelete(9)
    }

    const addArt = () => {
      let data = {
        aname: document.querySelector(".aname").value,
        // atime: document.querySelector(".atime").value,
        acount: document.querySelector(".acount").value,
        acontent: document.querySelector(".acontent").value,
        aimg: document.querySelector(".aimg").value,
      }
      submitPost("/addArticle", data, getArt)
    }


    // ,默认get
    const getArt = () => {
       submitGet(tableInit);
    }

    const tableInit = (res) => {
      let str = "";
      res.forEach(x=>{
        str += "<tr>"
        for(let key in x) {
          str += "<td>"+x[key]+"</td>";
        }
        str += "</tr>"
        tbody.innerHTML = str;
      })
    }

    getArt();

    // 封装好的 ajax  处理兼容问题。
    function createXHR() {
      if (typeof XMLHttpRequest != "undefined") {
        return new XMLHttpRequest();
      } else if (typeof ActiveXObject != "undefined") {
        if (typeof arguments.callee.activeXString != "string") {
          var versions = ["MSXML2.XMLHttp.6.0", "MSXML2.XMLHttp.3.0", "MSXML2.XMLHttp"], i, len;
          for (i = 0, len = versions.length; i < len; i++) {
            try {
              new ActiveXObject(versions[i]);
              arguments.callee.activeXString = versions[i];
              break;
            } catch (ex) {
              //跳过
            }
          }
        }
        return new ActiveXObject(arguments.callee.activeXString);
      } else {
        throw new Error("No XHR object available.");
      }
    }


    // get
    function submitGet(cal) {
      var xhr = createXHR();
      xhr.onreadystatechange = function () {
        if (xhr.readyState == 4) {
          console.log(1111)
          if ((xhr.status >= 200 && xhr.status < 300) || xhr.status == 304) {
            // alert(xhr.responseText);
            // console.log(xhr.responseText)
            cal(JSON.parse(xhr.responseText))
          } else {
            alert("Request was unsuccessful: " + xhr.status);
          }
        }
      };
      xhr.open("get", "/getArticle", true);
      xhr.send(); // 将表单数据序列化并发送
    }

    // delete
    function submitDelete(id) {
      var xhr = createXHR();
      xhr.onreadystatechange = function () {
        if (xhr.readyState == 4) {
          if ((xhr.status >= 200 && xhr.status < 300) || xhr.status == 304) {
            // alert(xhr.responseText);
          } else {
            alert("Request was unsuccessful: " + xhr.status);
          }
        }
      };
      xhr.open("delete", "/deluser", true);
      xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
      xhr.send(id); // 将表单数据序列化并发送
    }


    // post
    function submitPost(url, data, cal) {
      // addArticle
      var xhr = createXHR();
      xhr.onreadystatechange = function () {
        if (xhr.readyState == 4) {
          if ((xhr.status >= 200 && xhr.status < 300) || xhr.status == 304) {
            // alert(xhr.responseText);
            cal()
          } else {
            alert("Request was unsuccessful: " + xhr.status);
          }
        }
      };
      xhr.open("post", url, true);
      xhr.setRequestHeader("Content-type", "application/json");
      xhr.send(JSON.stringify(data));  //如果是对象格式的数据就要转换成jsonstring
    }



  </script>
</body>

</html>