<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  {{.name}}
  {{.userList}}
  <form method="post" action="/posttest">
    用户名：
    <input type="text" value="" name="username">
    密码：
    <input type="text" value="" name="pwd">
    <input type="submit" value="post">
  
  </form>
  <script>
    console.log(999)
  </script>
</body>
</html>